<h2>{{title}}</h2>
<div id='loading'><div class="spinner"></div></div>

                <div id='calendar'></div>


                <script type="application/javascript">
                    $(document).ready(function(){

                      $('#calendar').fullCalendar({
                            header: {
                                left: 'prev,next today',
                                center: 'title',
                                right: 'month,agendaWeek,agendaDay'
                            },
                            defaultDate: '{{default_date}}',
                            editable: true,
                            eventLimit: true, // allow "more" link when too many events
                            events: {
                                url: 'php/get-events.php',
                                error: function() {
                                    $('#script-warning').show();
                                }
                            },
                            loading: function(bool) {
                                $('#loading').toggle(bool);
                            }
                        });
                    });
                </script>
