<h3>Messages</h3>
<button id="reply-btn" class="reply-btn"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;Reply</button>
<div id="message-container">
    <div class="message-segment message-segment-normal">
        <div class="segment-title">Message Subject</div>
        <div class="message-segment-time-sent">Time sent</div>
        <dl>
            Whether the front and back panels should be forced to the width of the container. Will make flip add style width:xxpx to them (where xx is the container's outerWidth). Does not work well with fluid containers.
            NOTE: This option is provided for backward compatibility and should eventually be deprecated. If you are migrating from an older version of Flip and are having issues with the new dynamic sizing feature, you can set forceWidth and forceHeight to true, and autoSize to false to make
            Flip behave the same as it did before. If you find you need this option, please report it to us as it should not be needed
        </dl>

    </div>
    <div class="message-segment message-segment-flip">
        <div class="segment-title">Message Subject</div>
        <div class="message-segment-time-sent">Time sent</div>

    </div>
    <div class="message-segment message-segment-flip">
        <div class="segment-title">Message Subject</div>
        <div class="message-segment-time-sent">Time sent</div>

    </div>
    <div class="message-segment message-segment-normal">
        <div class="segment-title">Privacy</div>
        <div class="message-segment-time-sent">Time sent</div>

    </div>
    <div class="message-segment message-segment-normal">
        <div class="segment-title">Message Subject</div>
        <div class="message-segment-time-sent">Time sent</div>

    </div>
    <div class="message-segment message-segment-flip">
        <div class="segment-title">Message Subject</div>
        <div class="message-segment-time-sent">Time sent</div>

    </div>
    <div class="message-segment message-segment-flip">
        <div class="segment-title">Message Subject</div>
        <div class="message-segment-time-sent">Time sent</div>

    </div>
    <div class="message-segment message-segment-normal">
        <div class="segment-title">Privacy</div>
        <div class="message-segment-time-sent">Time sent</div>

    </div>
    <div class="message-segment message-segment-normal">
        <div class="segment-title">Message Subject</div>
        <div class="message-segment-time-sent">Time sent</div>

    </div>
    <div class="message-segment message-segment-flip">
        <div class="segment-title">Message Subject</div>
        <div class="message-segment-time-sent">Time sent</div>

    </div>
    <div class="message-segment message-segment-flip">
        <div class="segment-title">Message Subject</div>
        <div class="message-segment-time-sent">Time sent</div>

    </div>
    <div class="message-segment message-segment-normal">
        <div class="segment-title">Privacy</div>
        <div class="message-segment-time-sent">Time sent</div>

    </div>

</div>

<script type="application/javascript">
    $(document).ready(function(){
        $("#reply-btn").unbind('click').on('click', function(){
            $("#message-container").transition({ y: '40px' });
        });
    });
</script>
