<div class="btn-group-sm banner-action-btn">
    <button class="">Send Message</button>
    <button class="">Send Request</button>
</div>
<div id="profile-banner">
    <div class="banner-profile-img ">
        <img class="profile-img"
             src="https://s3-us-west-1.amazonaws.com/wiselike/uploads/user/200/upload_a0f6dec7ce316ce1c123d2bf8742d9a7.jpg">
    </div>
</div>
<div class="banner-profile-name">
    <h3>David Whalsh</h3>
    <div>C.E.O Swifta, Inc.</div>
</div>
<div class="banner-profile-description">
    The first argument to the render method is a template name.
    The plugin builds the template path to fetch from this name by
    prepending a base path and appending a file name extension.
    The default base path is the empty string, while the default extension is .handlebars.
    To configure them differently use the jQuery.handlebars method:
</div>
<div class="segment">
    <div class="segment-title">Experience</div>
    <dl>
        <span class="glyphicon glyphicon-briefcase"></span>&nbsp;
        <strong>Chief Engineer. Github</strong> <br/>
        <p>
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.
        </p>
    </dl>
    <dl>
        <span class="glyphicon glyphicon-briefcase"></span>&nbsp;
        <strong>Chief Engineer. Github</strong> <br/>
        <p>
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.
        </p>
    </dl>
    <dl>
        <span class="glyphicon glyphicon-briefcase"></span>&nbsp;
        <strong>Chief Engineer. Github</strong> <br/>
        <p>
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.
        </p>
    </dl>

</div>
<div class="segment">
    <div class="segment-title">Skills</div>
    <dl>
        <div>Java</div>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
    </dl>
    <dl>
        <div>Cooking</div>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    </dl>


</div>
<div class="segment">
    <div class="segment-title">Mentors</div>

    <dl>

        <div><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;<a href="#profile/23"><strong>Oluwamakinde Temitope</strong></a></div>
        <p>
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.s
        </p>
    </dl>
    <dl>

        <div><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;<a href="#profile/23"><strong>Willams John</strong></a></div>
        <p>
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.s
        </p>
    </dl>
    <dl>

        <div><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;<strong>Oluwamakinde Temitope</strong></div>
        <p>
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.s
        </p>
    </dl>

</div>
<div class="segment">
    <div class="segment-title">Mentees</div>
    <dl>

        <div><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;<a href="#profile/23"><strong>Oluwamakinde Temitope</strong></a></div>
        <p>
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.s
        </p>
    </dl>
    <dl>

        <div><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;<a href="#profile/23"><strong>Willams John</strong></a></div>
        <p>
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.s
        </p>
    </dl>
    <dl>

        <div><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;<strong>Oluwamakinde Temitope</strong></div>
        <p>
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.s
        </p>
    </dl>
    <dl>

        <div><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;<a href="#profile/23"><strong>Oluwamakinde Temitope</strong></a></div>
        <p>
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.s
        </p>
    </dl>
    <dl>

        <div><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;<a href="#profile/23"><strong>Willams John</strong></a></div>
        <p>
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.s
        </p>
    </dl>
    <dl>

        <div><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;<strong>Oluwamakinde Temitope</strong></div>
        <p>
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.
            The first argument to the render method is a template name.
            The plugin builds the template path to fetch from this name by
            prepending a base path and appending a file name extension.s
        </p>
    </dl>
</div>
